<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <!-- Add Bootstrap & FontAwesome CDN if not already included -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
<div th:replace="base :: layout(~{::section})">
<section>

<div class="container p-5">
<p class="text-center fs-3 mt-2">Admin DashBoard</p>
  <div class="row p-5">
    <div class="col-md-4 mt-3">
    <a href="#" class="text-decoration-none">
      <div class="card card-sh">
        <div class="card-body text-center text-primary" >
        <i class="fa-solid fa-plus fa-2x"></i>
         <h4>Add Products</h4>
         </div>
    </div>
    </a>
    </div>
    
      <div class="col-md-4 mt-3">
    <a href="#" class="text-decoration-none">
      <div class="card card-sh">
        <div class="card-body text-center text-primary" >
        <i class="fa-solid fa-plus fa-2x"></i>
         <h4>Category</h4>
         </div>
    </div>
    </a>
    </div>
    
      <div class="col-md-4 mt-3">
    <a href="#" class="text-decoration-none">
      <div class="card card-sh">
        <div class="card-body text-center text-primary" >
        <i class="fa-solid fa-plus fa-2x"></i>
         <h4>View Products</h4>
         </div>
    </div>
    </a>
    </div>
    
      <div class="col-md-4 mt-3">
    <a href="#" class="text-decoration-none">
      <div class="card card-sh">
        <div class="card-body text-center text-primary" >
        <i class="fa-solid fa-plus fa-2x"></i>
         <h4>Add Products</h4>
         </div>
    </div>
    </a>
    </div>
    
          <div class="col-md-4 mt-3">
    <a href="#" class="text-decoration-none">
      <div class="card card-sh">
        <div class="card-body text-center text-primary" >
        <i class="fa-solid fa-plus fa-2x"></i>
         <h4>Orders</h4>
         </div>
    </div>
    </a>
    </div>
    
      <div class="col-md-4 mt-3">
    <a href="#" class="text-decoration-none">
      <div class="card card-sh">
        <div class="card-body text-center text-primary" >
        <i class="fa-solid fa-plus fa-2x"></i>
         <h4>User</h4>
         </div>
    </div>
    </a>
    </div>
    

</div>

</div>
</section>
</div>
</body>
</html>