<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="base :: layout(~{::section})">
<section>
    <div class="container mt-5 p-2">
    <<!-- div class="row">
       <div class="col-md-10 offset-md-1"> -->
    
<div class="card card-sh">

   <div class="card-header text-center">
      <p class="fs-4">View Products</p>
      
                        <th:block th:if="${session.succMsg}">
          
           <p class="text-success fw-bold">[[${session.succMsg}]]</p>
             <th:block th:text="${@commServiceImpl.removeSessionMsg()}"></th:block>
       </th:block>
       
         <th:block th:if="${session.errorMsg}">
           <p class="text-warning fw-bold">[[${session.errorMsg}]]</p>
            <th:block th:text="${@commServiceImpl.removeSessionMsg()}"></th:block>
       </th:block>
      
   </div>
   <div class="card-body">
       <table class="table">
  <thead>
    <tr>
      <th scope="col">Sl No</th>
      <th scope="col">Title</th>
       <th scope="col">Product Image</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
       <th scope="col">Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="p,c:${products}">
      <th scope="row">[[${c.count}]]</th>
      <td>[[${p.prodName}]]</td>
      <td><img alt="" th:src="@{'/img/product_img/'+${p.prodImage}}" width="50px" height="50px"></td>
       <td>[[${p.Category}]]</td>
      <td>[[${p.price}]]</td>
      <td>[[${p.stocks}]]</td>
      
      <td>
      <a th:href="@{'/admin/editProd/'+${p.id}}" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square  fa-1x"></i>Edit</a>
       <a th:href="@{'/admin/deleteProduct/'+${p.id}}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash  fa-1x "></i>Delete</a>
      </td>
    </tr>
  </tbody>
</table>
   </div>
</div>
</div>
<!-- </div>
</div> -->
</section>
</div>
</body>
</html>